{% extends 'base.html.twig' %}

{% block body %}

	<div class="container text-center">
		<h1 class="text-info">{{jeux.nom}}</h1>
		<img src="{{asset('images/' ~ jeux.photo)}}" alt="">
		<div class="container col-6 text-center">
			{% for item in messages %}
				<div class="card mb-3">
					<div class="card-body">
						<h4 class="card-title">{{item.titre}}</h4>
						<h6 class="card-subtitle mb-2 text-muted">{{item.Tag}}</h6>
						<p class="card-text">{{item.contenu}}</p>
						<p class="card-link">{{item.user.pseudo}}</p>
						<p class="card-link">{{item.dateMessage|date("d/m/Y")}}</p>
                        <div><a href="{{path('reponse_annonce', {id: item.id})}}" class="btn btn-outline-primary">Répondre</a></div>
					</div>
				</div>
			{% endfor %}


		</div>
		<h3 class="text-primary">Fais ton annonce</h3>
		{{form_start(form)}}
		{{form_row(form.titre)}}
		{{form_row(form.contenu)}}
		{{form_row(form.Tag)}}
		<button class="btn btn-success">Publier</button>
		{{form_end(form)}}
	</div>


{% endblock %}
