{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<style>
		body {
			overflow-x: hidden; /* Empêche le défilement horizontal */
		}
	</style>
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-md-5 d-md-flex d-none flex-column">
				<div class="image-container rounded-3 overflow-hidden">
					<img src="{{asset('images/frontpage.jpg')}}" alt="" style="max-width: 100%; max-height: 100vh;">
				</div>
			</div>

			<div class="col-md-7">
				<nav class="navbar bg-secondary" data-bs-theme="dark" style="margin-top: 20px; width: 100%;">
					<div class="container-fluid">
						{% if app.user %}
							<a class="navbar-brand" href="{{path('profil_perso', {id: app.user.id})}}">Profil</a>
						{% endif %}
						<ul class="navbar-nav flex-row">
							<li class="nav-item me-3">
								<a class="nav-link active text-dark" href="{{path('app_jeux')}}">Home
									<span class="visually-hidden">(current)</span>
								</a>
							</li>
							{% if app.user %}
								<li class="nav-item me-3">
									<a class="nav-link text-dark" href="{{path('logout')}}">Se déconnecter</a>
								</li>
							{% else %}
								<li class="nav-item me-3">
									<a class="nav-link text-dark" href="{{path('login')}}">Se connecter</a>
								</li>
							{% endif %}
							<li class="nav-item me-3">
								<a class="nav-link text-dark" href="{{path('liste_jeux')}}">Trouver un partenaire</a>
							</li>
							{% if app.user %}
								<li class="nav-item me-3">
									<a class="nav-link text-dark" href="{{path('app_messagerie')}}">Messagerie</a>
								</li>
							{% endif %}
							{% if is_granted('ROLE_ADMIN') %}
								<li class="nav-item dropdown">
									<a class="nav-link text-dark" href="{{path('app_admin')}}" aria-expanded="false">BACKOFFICE</a>
								</li>
							{% endif %}
						</ul>
					</div>
				</nav>

				<div class="container text-center">
					<div class="d-flex justify-content-end">
						<div class="text-content">
							<h1 class="text-center text-dark">Rencontre tes futurs camarades de jeux</h1>
							<p class="text-center text-info"></p>
							<p>Ce site va te permettre de trouver rapidement des camarades avec qui jouer à tes
								<strong>jeux préférés</strong>.</p>
							<p>Ce site a pour but d'être simple d'utilisation. Une
								<strong>inscription rapide</strong>
								et te voilà prêt à rechercher tes nouveaux camarades de jeux.</p>
							<p>Lors de la création de ton message de recherche, tu peux créer des petits mots-clefs afin de signifier rapidement quelles sont tes modalités de jeu, que ce soit l'intensité (<strong>compétitif</strong>,
								<strong>occasionnel</strong>, la console sur laquelle tu joues ou encore l'âge des gens avec qui tu veux jouer).</p>
							<p>Sur ton profil, tu pourras te présenter, y ajouter les jeux auxquels tu joues, tes horaires de jeux. Tu pourras également te présenter en quelque mots et personnaliser ta photo de profil.</p>
							<p>L'onglet messagerie te permettra de t'organiser rapidement avec tes contacts.</p>
							<p>Sur ce site, pas de cookies, pas de pubs, tes données personnelles sont entre de bonnes mains. Simplement l'amour du jeu et l'envie de le partager.</p>
							<p>En espérant que tu y trouves tes futurs camarades et que vous pétiez les scores grâce à votre collaboration.</p>
							{% for message in app.flashes('success') %}
								<div class="alert alert-success text-center">{{message}}</div>
							{% endfor %}
							{% if app.user %}
								<p>
									Bienvenue !
								</p>
							{% else %}
								<a href="{{path('inscription')}}" class="btn btn-outline-danger">Inscris-toi</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container col-6 text-center mt-3">
			<div class="row">
				<div class="col">1</div>
				<div class="col">2</div>
				<div class="col">3</div>
			</div>
			<div class="row">
				<div class="col">Inscris-toi</div>
				<div class="col">Cherche tes jeux et trouve ton crew</div>
				<div class="col">Passe les meilleurs games de ta vie</div>
			</div>
			<a href="" class="btn btn-outline-success text-center">Inscription</a>
		</div>

		<div class="container text-center">
			<h3 class="m-3">Un échantillon des jeux sur lesquels tu peux trouver des camarades</h3>

			<div class="row justify-content-center d-none d-md-flex">

				<img src="{{asset('images/d4.jpg')}}" alt="" style="max-width: 778px; max-height: 483px; margin-bottom: 10px;">


				<img src="{{asset('images/apex.jpg')}}" alt="" style="max-width: 450px; max-height: 343px;">

			</div>
			<div class="row justify-content-center d-none d-md-flex">

				<img src="{{asset('images/gta5.jpg')}}" alt="" style="max-width: 685px; max-height: 350px;">


				<img src="{{asset('images/ow2front.jpg.webp')}}" alt="" style="max-width: 350px; max-height: 290px;">


				<img src="{{asset('images/td1front.jpg')}}" alt="" style="max-width: 250px; max-height: 450px;">

			</div>

			<div class="row d-md-none">
				<img src="{{ asset('images/d4.jpg') }}" alt="" class="sample-image-mobile"/>

				<img src="{{ asset('images/apex.jpg') }}" alt="" class="sample-image-mobile"/>
				<img src="{{asset('images/gta5.jpg')}}" alt="" class="sample-image-mobile">


				<img src="{{asset('images/ow2front.jpg.webp')}}" alt="" class="sample-image-mobile">


				<img
				src="{{asset('images/td1front.jpg')}}" alt="" class="sample-image-mobile">

			<!-- ... Ajoutez le reste de vos images ici ... -->

			</div>

			<div class="container text-center">
				<a href="{{path('liste_jeux')}}" class="btn btn-outline-danger text-center m-3">Liste des jeux</a>
			</div>
		</div>


	</div>
	<footer style="height: 350px; background-color: #D5D5D5; margin-top: 25px; width : 100%;">
		<div class="container col-4 m-3 text-center my-auto">
			<div class="row m-3"></div>
			<div class="row m-3"></div>
			<p>À propos</p>
			<p>Mentions légales</p>
			<p>FAQ</p>

		</div>
	</footer>

</div>{% endblock %}
